/* Main Colors */
/* linear-gradient(to right, #0A1F44, #D6D5D5) */
/* #162447 */
/* #E4C590 */
/* #FAF3E0 */

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
  font-family: Inter;
  background-color: #faf3e0;
  color: #162447;
}

.navbar {
  background-color: rgb(233, 198, 134) !important;
  font-family: 'Playfair Display';
  font-weight: 500;
  color: #162447 !important;
}

/* Large desktop */
@media (min-width: 1024px) {
  .navbar {
    position: fixed;
    width: 100vw;
    z-index: 1;
  }
}

#navbar-title,
.alexandria-text {
  background: linear-gradient(to right, #0a1f44, #d6d5d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Playfair Display';
  font-weight: 500;
}

#home {
  overflow-x: hidden;
}

#jumbotron {
  background-color: rgb(233, 198, 134) !important;
  color: #162447 !important;
}

#jumbotron a,
#location-button {
  border: none;
  background-color: #162447;
  color: #faf3e0;
}

#jumbotron a:hover {
  border: none;
  background-color: #faf3e0;
  color: #162447;
}

#location-button:hover {
  border: 1px solid #162447;
  background-color: #faf3e0;
  color: #162447;
}

#blog-cards h3 {
  font-family: 'Playfair Display';
}

#blog-post {
  transition: all 0.3s ease-in-out;
}

#blog-post:hover {
  transform: scale(1.01);
}

#categories {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

/* Large desktop */
@media (min-width: 1024px) {
  #location-card p {
    height: 200px;
    overflow: auto;
  }
}

/* for setting custom bootstrap */
.card-header {
  background-color: rgba(233, 198, 134, 0.5) !important;
}

.bg-primary {
  background-color: #162447 !important;
}

.border-primary {
  border-color: #162447 !important;
}

.card-body {
  background-color: rgba(250, 243, 224, 0.3) !important;
}

.btn-outline-primary {
  border: 1px solid #162447 !important;
  background-color: rgba(250, 243, 224, 0.3);
  color: #162447 !important;
}

.btn-outline-primary:hover {
  border: 1px solid #faf3e0 !important;
  background-color: #162447;
  color: #faf3e0 !important;
}

.btn-primary {
  border: 1px solid #faf3e0 !important;
  background-color: #162447;
  color: #faf3e0 !important;
}

.btn-primary:hover {
  border: 1px solid #162447 !important;
  background-color: rgba(250, 243, 224, 0.3);
  color: #162447 !important;
}
